h1 {
  text-transform: uppercase;;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto',sans-serif;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    height: 75px;
  }

  &__logo {
    height: 75px;
    width: auto;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}

.main {
  &__info-block {
    margin-bottom: 15px;
  }
}

.info-block {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  &:first-child {
    padding-left: 15px;
  }

  &:nth-child(3) {
    padding-right: 15px;
  }
}

.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 15px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;

  &__row {
    display: flex;
  }

  &__item {
    margin: 15px;

    &_title {
      width: 80%;
      margin: 15px;

    }

    &price {
      width: 20%;
    margin: 15px;

    }
  }
}